/**{
/*	width: tamaño;
	height: tamaño;
	padding: 10px;
	padding-top: 10px;
	padding-right: 13px;
	padding-left: 15px;
	padding-bottom: 5px;*/
	/*padding: 10px 13px 5px 15px;*/
	/*margin: 10px;
	margin-top: 10px;
	margin-right: 13px;
	margin-left: 15px;
	margin-bottom: 5px;*/
	/*margin: 10px 13px 5px 15px;
	border: 2px solid red;*/
}

body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

button {
	border-radius: 8px;
	border:none;
	background:;
	
}
.Titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 70px;
	line-height: 40px;

}
.title-a{
	
	font-size: 35px;
	margin-top: 0;
}
.title-b{
	font-size: 24px;
	margin-bottom:20px;
	margin-left: 24px;
}
.Carteras {
	color: #1F313C; 
	
}
.Carteras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}
.Portada {
	background-image: url(https://i.ibb.co/SxK8qvH/accessory-eyeglasses-eyewear-157888.jpg););
	color: white;
	padding: 20px;
	
}
.Menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right:0;
}
.Menu li {
	display: inline-block;
	margin-left: 30px;
}

.Logotipo {
	display: inline-block;
}
.Portada button{
	margin-bottom: 70px;
}
.Header{
	width: 800px;
	margin: auto;
	position: relative;
}
.contenedor{
	width: 800px;
	margin: auto;
}
.Cartera img {
	float: right;
}
.right {
	float: right;
}
.left {
	float: left;
}
.Cartera{
	padding:10px;
	margin: 10px;
	overflow: hidden;
	border:1px solid;
	border-radius:20px;
	color: #1F313C
	

}
.footer{
	background: #273b47;
	padding: 50px 10px;

}
.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: flex-start;
}

.contacto img {
	display:block;
}

.contacto strong {
	display:block;
}
.contacto a{
	color: white;
	text-decoration: none;
	margin:10px 10px 10px 0;
}
.Footer.Contenedor{
	display: flex;
	justify-content: space-between;
}
.Formulario{
	display: flex;
	width: 400px;
	color: white;
	padding: 50px 10px; 
}
.col1,.col2{
display: flex;
flex-direction: column;
}
.col1{
	margin-right: 15px;
}
.col2 {
	align-items: flex-start;
}
.intereses label{
	font-size: 12px;
}
.Formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}
.sexo{
	margin-top: 10px;
}

table{
	width: 100%;
}
th {
	background: #273b47;
}
/*.contenedor-Cartera{
	margin-left: 370px;
}